@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  width: 90vw;
  gap: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  flex: 1;
  position: relative;
  cursor: pointer;
  transition: flex 0.7s ease-in;
  -webkit-transition: flex 0.7s ease-in;
  -moz-transition: flex 0.7s ease-in;
  -ms-transition: flex 0.7s ease-in;
  -o-transition: flex 0.7s ease-in;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.panel h3 {
  font-size: 24px;
  color: white;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.5s;
  -webkit-transition: opacity 0.3s ease-in 0.5s;
  -moz-transition: opacity 0.3s ease-in 0.5s;
  -ms-transition: opacity 0.3s ease-in 0.5s;
  -o-transition: opacity 0.3s ease-in 0.5s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
